@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor1: #37f0b4;
    --cor2: #37b2f0;
    --cor3: #37EDF0;
    --cor4: #37F076;
    --cor5: #3778F0;
    --cor6: #ffffff;

    --font-padr達o: "Roboto";
    --font-destaque: "Share Tech Mono";

}

header > h1 {
    font-family: var(--font-destaque);
    font-size: 4em;
    padding-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px black;
    font-weight: normal;
    color: var(--cor6);
  
}

header > p {
        color: var(--cor6) ;
        font-family: var(--font-padr達o);
        max-width: 500px;
        margin: auto;
        padding-bottom: 10px;

}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    min-height: 150px;
    padding-bottom: 10px;
    text-align: center;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    
    }

nav > a {
    color: var(--cor6);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-family: var(--font-padr達o);
    width: auto;
}

nav a:hover {
    background-color: var(--cor6);
    color:var(--cor5);
    transition-duration: 1s;
}

main {
    background-color: var(--cor6);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px black; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

main {
    font-family: var(--font-padr達o);
}



